/* Universal Styles Start */
* {
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap");

ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}

/* Buttons Style Start */
.btn {
  height: 64px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 20px;
  padding: 18px 35px;
  cursor: pointer;
}
.btn__primary {
  border: 1px solid transparent;
  background-color: #ff5959;
  color: #fff;
}
.btn__primary:hover {
  background-color: #fff;
  color: #ff5959;
  border: 1px solid #ff5959;
}
.btn__secondary {
  background-color: transparent;
  color: #ff5959;
  border: 1px solid #ff5959;
}
.btn__secondary:hover {
  background-color: #ff5959;
  color: #fff;
  border: 1px solid transparent;
}
/* Buttons Style End */

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  margin-top: 130px;
  margin-bottom: 130px;
  padding: 0 20px;
}
/* Universal Styles End */

/* Header Section Styles Start */
header {
  background-image: url("/images/donation0.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.banner {
  background: linear-gradient(360deg, #121212 0%, rgba(18, 18, 18, 0) 100%);
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.banner__text {
  max-width: 826px;
  width: 100%;
  text-align: center;
}
.banner__text h1 {
  font-weight: 700;
  font-size: 65px;
  line-height: 79px;
  color: #ffffff;
  margin-bottom: 2rem;
}
.banner__text p {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  margin-bottom: 2rem;
}
/* Header Section Styles End */

/* Main Secion Start */

/* Donate Today Section Start */
.donate__today {
  margin-top: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.donate__today h1 {
  font-weight: 700;
  font-size: 45px;
  line-height: 54px;
}

.donate__today p {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #707070;
}
.donate__amount {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 22px;
  /* display: flex; */
  /* justify-content: space-between; */
  /* gap: 22px; */
  /* flex-wrap: wrap; */
}
.donate__amount li {
  border: 2px solid transparent;
  border-radius: 5px;
  background: #ffeeee;
  padding: 43px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #707070;
}
.donate__amount li:nth-child(2) {
  border: 2px solid #ff5959;
}
.donate__amount li:hover {
  border: 2px solid #ff5959;
  cursor: pointer;
}
.donate-input {
  border: none;
  border-bottom: 1px solid #b3b3b3;
  width: 50%;
  text-align: center;

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #b3b3b3;
}
/* Donate Today Section End */

/* Donate Plan Section Start */
.donate__plan {
  margin-top: 130px;
  margin-bottom: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.donate__plan h1 {
  font-weight: 700;
  font-size: 45px;
  line-height: 54px;
  color: #121212;
}
.donate__plan > p {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #707070;
  max-width: 690px;
  text-align: center;
}

.donate__plan-article {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1140px;
  width: 100%;
}

.donate__plan-article > article {
  padding: 54px 22px;
  border-radius: 5px;
  max-width: 360px;
  max-height: 360px;
  border: 5px solid transparent;
}
.article-title {
  margin-top: 1rem;
  padding-bottom: 1rem;
}
.article-description {
  color: #707070;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.article-1 {
  background-color: rgba(79, 157, 166, 0.1);
}
.article-1:hover {
  border: 5px solid rgba(79, 157, 166, 0.1);
  border-radius: 10px;
}
.article-2 {
  background-color: rgba(255, 89, 89, 0.1);
}
.article-2:hover {
  border: 5px solid rgba(255, 89, 89, 0.1);
  border-radius: 10px;
}
.article-3 {
  background-color: #fff4d6;
}
.article-3:hover {
  border: 5px solid #fff4d6;
  border-radius: 10px;
}
/* Donate Plan Section End */

/* Donation Section Start */
.donation {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  gap: 94px;
  align-items: center;
  justify-content: center;
}
.section__text p {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #707070;
  margin-top: 20px;
  margin-bottom: 20px;
}
.section__text h1 {
  font-weight: 700;
  font-size: 45px;
  line-height: 54px;
  color: #121212;
}
.section__img img {
  max-width: 456px;
  max-height: 477px;
  border-radius: 10px;
}
.donation-2 {
  padding-top: 130px;
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  gap: 94px;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
}
/* Donation Section End */

/* Main Secion End */

@media only screen and (max-width: 1000px) {
  .banner__text h1 {
    font-size: 40px;
    line-height: 50px;
  }
  .section__img img {
    width: 100%;
    height: 100%;
  }
  .donate__amount {
    grid-template-columns: repeat(2, 1fr);
  }
  p {
    width: 90%;
  }
  .donate__plan-article {
    justify-content: center;
  }
  .donation {
    flex-direction: column;
    text-align: center;
  }
  .donation-2 {
    flex-direction: column;
    text-align: center;
  }
}
